<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- pegar todos los elementos que se encuentren en el hime o index html de mi pagina y pegarlo aqui/HACER 21/05/2021--}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{ruta}}>
    {{!-- <link rel="stylesheet" href="assets/css/nosotros.css" >
    <link rel="stylesheet" href="assets/css/404.css" >
    <link rel="stylesheet" href="assets/css/productos.css" >
    <link rel="stylesheet" href="assets/css/publicar.css" >
    <link rel="stylesheet" href="assets/css/galeria.css" >
    <link rel="stylesheet" href="assets/css/FAQs.css" >
    <link rel="stylesheet" href="assets/css/contacto.css" > --}}
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mate+SC&family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <script src="assets/js/inicio.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>
    {{>menu}}
   {{{ body }}} 
   {{>footer}}
</body>
</html>