  <div class="grid-container">
    <h1>Encuentranos</h1>
   <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15137.712981673847!2d-69.95381733209207!3d18.464251402250067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea562012dc76fcb%3A0xcfef4c3852b39f15!2sQuisqueya%2C%20Santo%20Domingo!5e0!3m2!1sen!2sdo!4v1622239559443!5m2!1sen!2sdo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
    <div><p>Direccion: Lorem ipsum dolor sit amet, consectetur.</p><p>Telefono: 80595692</p><p>Correo: minimal@gmail.com</p> </div>  

  </div>

  <div id="titulo">Ayuda</div>
  <div class="container">
    <form action="mailto:minimal@gmail.com" method="post" enctype="text/plain">
  
      <label for="fname">Nombre</label>
      <input type="text" id="fname" name="firstname" placeholder="Tu nombre..">

      <label for="fcorreo">Correo</label>
      <input type="text" id="fcorreo" name="correo" placeholder="Tu correo..">
  
      <label for="subject">Que necesitas?</label>
      <textarea id="subject" name="subject" placeholder="Tu duda.." style="height:200px"></textarea>
  
      <input type="submit" value="Enviar">
  
    </form>
  </div>

  

  <div id="subir__arriba"> 
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-up-circle" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <circle cx="12" cy="12" r="9" />
      <line x1="12" y1="8" x2="8" y2="12" />
      <line x1="12" y1="8" x2="12" y2="16" />
      <line x1="16" y1="12" x2="12" y2="8" />
    </svg>
  </div>