<div class="contenedor">
<div id="titulo">- FAQs - </div>
<div id="descripcion"><ul><li>1.Como enviar arte?</li>
    <li> debes hacer click en publicar y completar el formulario.</li></ul>
    
    <ul>
    <li>2.Puedo formar parte de su galeria?</li>
    <li><p>Solo debes vivir en la ciudad y visitarnos </p><p>tenemos 
    todo tipo de cosas para muchos</p><p> artistas y te recibiremos 
    con los brazos abiertos.</p></li></ul>
    
    <ul><li>3.Como se que mi arte esta segura?</li>
    <li><ul><li>*Damos credito a todos los artistas.</li>
    <li>*Puedes retirar tu obra en cualquier momento.</li>
    <li>*Puedes presentar un reclamo.</li>
    <li>*Nadie puede tomar una de tus piezas de arte de este sitio.</li></ul>
</li></ul>
    </div>
</div>

<div class="audio"><audio src="C:\Users\Chelsy\Downloads\Music\musica ambiental.mp3" type= "audio/mp3" controls = ""></audio><p> << Disfruta de un ritmo lento mientras revisas nuestras FAQs </p></div>
