<div id="container">
      <div id="titulo">- Galeria -</div>


      <p id="oleo">Oleos</p>
<div class="grid-container">
<div class="gallery-f1">
    <a target="_blank" href="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f1.jpg">
      <img id="a1" src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f1.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc">Artista: Priscilla</div>
  </div>

  <div class="gallery-f1">
    <a target="_blank" href="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f2.jpg">
      <img id="a2" src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f2.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc">Artista: Manu</div>
  </div>
  <div class="gallery-f1">
    <a target="_blank" href="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\oleo.jpg">
      <img id="a3" src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\oleo.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc">Artista: Karla</div>
  </div>
  </div>



<p id="acrilica">Acrilicas</p>
<div class="grid-container">
  <div class="gallery-f1">
    <a target="_blank" href="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f3.png">
      <img id="b1" src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f3.png" alt="Cinque Terre" >
    </a>
    <div class="desc">Artista: Miguel</div>
  </div>
  <div class="gallery-f1">
    <a target="_blank" href="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f4.jpg">
      <img id="b2" src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f4.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc">Artista: Michel</div>
  </div>
  <div class="gallery-f1">
    <a target="_blank" href="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f5.jpg">
      <img id="b3" src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f5.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc">Artista: Lola</div>
  </div>
</div>


<p id="acuarela">Acuarelas</p>
<div class="grid-container">
  <div class="gallery-f1">
    <a target="_blank" href="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f6.jpg">
      <img id="c1" src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f6.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc">Artista: Lisa</div>
  </div>
  <div class="gallery-f1">
    <a target="_blank" href="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f7.jpg">
      <img id="c2" src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f7.jpg" alt="Cinque Terre" >
    </a>
    <div class="desc">Artista: Fernanda</div>
  </div>
  <div class="gallery-f1">
    <a target="_blank" href="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f8.jpg">
      <img id="c3" src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\f8.jpg" alt="Cinque Terre">
    </a>
    <div class="desc">Artista: Ruth</div>
  </div>
</div>
</div>