<div class="container1">
    <div class="container">
  
      <ul class="slider">
        <li id="slide1">
          <img src="https://freight.cargo.site/t/original/i/26b4397944d62c22785e36ded60ec65c8403d760d52dbea2adc7ac9f3840b825/Media-Temple---Jarom-Vogel---Internal-Illustration-1.JPG"/>
        </li>
        <li id="slide2">
          <img src="https://design4users.com/wp-content/uploads/2020/04/work-from-home-illustration.jpg"/>
        </li>
        <li id="slide3">
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/176e8a90079753.5e0cf07cbaeac.jpg"/>
        </li>
      </ul>
      
      <ul class="menu">
        <li>
          <a href="#slide1">1</a>
        </li>
        <li>
          <a href="#slide2">2</a>
        </li>
         <li>
          <a href="#slide3">3</a>
        </li>
      </ul>
      
    </div>
  </div>
    
  </header>
  <div class="gif"><img src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\animation.gif"></div>

<div class="cont">
  <div class="pin"><img id="pin1" src="https://images.squarespace-cdn.com/content/v1/55b76e9ee4b03c58b8546b0c/1589791183324-DGUJ55BN5Z404VS53IYJ/ke17ZwdGBToddI8pDm48kPNVxVJLdWkBgZFpwRgU4hh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UW8yRoWiND0JhqPxVq1xQ2lodFQL2xHM8rKB9x7NfbxiIy6s5IQUKHhVn5UapeK2tg/cover-davidsfonds1.3.jpg?format=2500w"><p>- Arte -</p></div>
  <div class="text"><h1>Actividad en la que el hombre recrea, con una finalidad estética, un aspecto de la realidad o un sentimiento en formas bellas valiéndose de la materia, la imagen o el sonido.</h1></div>
  <div class="yutu"><iframe id="yutu1" src="https://www.youtube.com/embed/xw8MffnsHyo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div>

  

  
  
<div id="subir__arriba"> 
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-up-circle" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <circle cx="12" cy="12" r="9" />
    <line x1="12" y1="8" x2="8" y2="12" />
    <line x1="12" y1="8" x2="12" y2="16" />
    <line x1="16" y1="12" x2="12" y2="8" />
  </svg>
</div>
