<div class="cont">
      <div id="img1"><img id="img" src="https://i.pinimg.com/564x/bd/df/91/bddf9120f32ee66703c9e2257e107e2f.jpg"></div>
      <div id="texto"><h1>Nosotros</h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nulla delectus quibusdam laudantium unde illo illum eveniet, iusto adipisci, minus est at rem, aspernatur placeat expedita sequi fugiat blanditiis assumenda?</p></div>  
    </div>

    <div class="MVV">
      <div class="mision"><h1>Mision</h1><p>miles de artistas disfrutan de nuestra plataforma ya que les brindamos el mejor servicio y un espacio seguro.
      </p></div>
      <div class="vision"><h1>Vision</h1><p>Ayudar a los jovenes o artistas a ser escuchados.
      </p></div>
      <div class="valores"><h1>Valores</h1><p>Honesta, creativa, solidaria, justa.
      </p></div>
    </div>


   
    <div id="subir__arriba"> 
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-up-circle" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="12" cy="12" r="9" />
        <line x1="12" y1="8" x2="8" y2="12" />
        <line x1="12" y1="8" x2="12" y2="16" />
        <line x1="16" y1="12" x2="12" y2="8" />
      </svg>
    </div>
    