
  <h1>- Productos -</h1>
  <div class="back">
  <div class="grid-container">
    <div>
  <div class="gallery">
    <a target="_blank" href="galeria.html#Oleo">
      <img src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\oleo.jpg"  >
    </a>
    <div class="desc">Oleo</div>
  </div>
</div>
<div>
  <div class="gallery">
    <a target="_blank" href="galeria.html#acrilica">
      <img src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\acrilica.jpg"  >
    </a>
    <div class="desc">Acrilica</div>
  </div>
</div>
<div>
  <div class="gallery">
    <a target="_blank" href="galeria.html#acuarela">
      <img src="C:\Users\Chelsy\Desktop\DIS\proyecto final\img\acuarela.jpg"  >
    </a>
    <div class="desc">Acuarela</div>
  </div>
</div>
</div>
</div>