<title>
        Publicar
        </title>
    </head>
    <body>
        <div class="contenedor">
    
    <h1>- Publicar -</h1>
    
    <div class="contenido"> 
    
    <div class="info">
    
    
    <div class="col">
        
        <p>Minimal@gmail.com</p>
    </div>
    
    <div class="col">
        
        <p> 809-523-5698 <br> 829-724-6985 </p>
    </div>

    <div class="col">
    
      
      <p>Santo Domingo, Republica Dominicana </p>
  </div>

  <div class="col">
    
    
    <p>*Solo debes completar con tu informacion y recibiras un correo para saber si aplicas a ser uno de nuestros artistas.</p>
</div>
        
    
    
    
    
    
    </div>
    <form  action="/publicar" method="POST" class="formulario">
        
        <input type="text" name="nombre" id="nombre" placeholder="nombre" required>
        <input type="text" name="email" id="email" placeholder="Correo Electronico" required>
        <input type="text" name="asunto" id="asunto" placeholder="Nombre de primera pieza a publicar" required>
        <textarea name="mensaje" id="mensaje" placeholder="Info extra sobre ti. Puedes decir lo que quieras" cols="30" rows="10" required></textarea>
        <button type="submit">Enviar</button>
    
    
    </form>  
    </div>
    </div>