{{!-- <div class="logo"><p>Minimal</p></div> --}}

    <div class="navbar">
      <div class="dropdown">
        <button class="dropbtn"><a href="/productos">Productos</a>
          <i class="down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/galeria">Galeria</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><a href="/publicar">Publicar</a>
          <i class="down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/contactos">Ayuda</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><a href="/contactos">Contacto</a>
          <i class="down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/FAQs">FAQs</a>
        </div>
      </div>
      <a href="/nosotros">Nosotros</a>
      <a href="/">Inicio</a>
      
    </div>
    